<tbody>
	<tr class="odd gradeX">
		<td><%= items.Id_brg %></td>
		<td>Internet
			 Explorer 4.0</td>
		<td>Win 95+</td>
		<td class="center"> 4</td>
		<td class="center">X</td>
		<td>Knotty</td>
		<td>Rp 150.000</td>
		<td>tes</td>
		<td>tes</td>
		<td><img src="/images/4g.jpg"></td>
		<td>tes</td>
	</tr>
</tbody>
