<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <%- include('../templates/toplist') %>
    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <%- include('../partials/navbar') %>

    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="/">Home</a>
                        </li>
                        <li>Foundation</li>
                    </ul>

                    <div class="box">
                        <h1>Foundation</h1>
                        <p>Foundation is a skin-coloured makeup applied to the face to create an even, uniform colour to the complexion, to cover flaws and, sometimes, to change the natural skintone.</p>
                    </div>

                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                                Showing <strong>8</strong> products
                            </div>

                            <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="row">
                                    <form class="form-inline">
                                        
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-sort-by">
                                                <strong>Sort by</strong>
                                                <select name="sort-by" class="form-control">
                                                    <option>Price</option>
                                                    <option>Name</option>
                                                    <option>Sales first</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row products">

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/detail">
                                                <img src="/img/bourjois51.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="/detail">
                                                <img src="/img/bourjois511.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/detail" class="invisible">
                                    <img src="/img/bourjois51.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="/detail">Bourjois Healthy Mix Serum Gel</a></h3>
                                    <p class="price">Rp225.000</p>
                                    <p class="buttons">
                                        <a href="/detail" class="btn btn-default">View detail</a>
                                        <a href="/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/detail">
                                                <img src="/img/mufe.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="/detail">
                                                <img src="/img/mufe1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/detail" class="invisible">
                                    <img src="/img/mufe.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="/detail">Make Up Forever Ultra HD Foundation - Y235</a></h3>
                                    <p class="price">Rp660.000</p>
                                    <p class="buttons">
                                        <a href="/detail" class="btn btn-default">View detail</a>
                                        <a href="/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->

                                
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/detail">
                                                <img src="/img/mufe2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="/detail">
                                                <img src="/img/mufe22.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/detail" class="invisible">
                                    <img src="/img/mufe2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="/detail">Make Up Forever Water Blend Foundation - Y305</a></h3>
                                    <p class="price">Rp675.000</p>
                                    <p class="buttons">
                                        <a href="/detail" class="btn btn-default">View detail</a>
                                        <a href="/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/detail">
                                                <img src="/img/emina.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="/detail">
                                                <img src="/img/emina1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/detail" class="invisible">
                                    <img src="/img/emina.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="/detail">Emina Beauty Bliss BB Cream - Natural</a></h3>
                                    <p class="price">Rp35.000</p>
                                    <p class="buttons">
                                        <a href="/detail" class="btn btn-default">View detail</a>
                                        <a href="/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/detail">
                                                <img src="/img/loreal.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="/detail">
                                                <img src="/img/loreal1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/detail" class="invisible">
                                    <img src="/img/loreal.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="/detail">L'OREAL Infallible Pro Matte Foundation - 102 Shell Beige</a></h3>
                                    <p class="price">Rp175.000</p>
                                    <p class="buttons">
                                        <a href="/detail" class="btn btn-default">View detail</a>
                                        <a href="/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->

                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/detail">
                                                <img src="/img/nyxf.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="/detail">
                                                <img src="/img/nyxf1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/detail" class="invisible">
                                    <img src="/img/nyxf.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="/detail">NYX Stay Matte Not Flat Foundation - Golden Beige</a></h3>
                                    <p class="price">Rp165.000</p>
                                    <p class="buttons">
                                        <a href="/detail" class="btn btn-default">View detail</a>
                                        <a href="/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->

                                
                                <!-- /.ribbon -->

                            </div>
                            <!-- /.product -->
                        </div>
                        <!-- /.col-md-4 -->

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/detail">
                                                <img src="/img/makeoverf.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="/detail">
                                                <img src="/img/makeoverf1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/detail" class="invisible">
                                    <img src="/img/makeoverf.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="/detail">Make Over Ultra Cover Liquid Matte Foundation - Light</a></h3>
                                    <p class="price"><del>Rp160.000</del> Rp140.000</p>
                                    <p class="buttons">
                                        <a href="/detail" class="btn btn-default">View detail</a>
                                        <a href="/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->

                                 <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/detail">
                                                <img src="/img/fitme.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="/detail">
                                                <img src="/img/fitme1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/detail" class="invisible">
                                    <img src="/img/fitme.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="/detail">Maybeline Fit Me! Poreless Foundation - K120</a></h3>
                                    <p class="price">Rp155.000</p>
                                    <p class="buttons">
                                        <a href="/detail" class="btn btn-default">View detail</a>
                                        <a href="/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>
                    <!-- /.products -->



                </div>
                <!-- /.col-md-9 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Pages</h4>

                        <ul>
                           
                            <li><a href="/contact">Contact us</a>
                            </li>
                        </ul>

                        <hr>

                        <h4>User section</h4>

                        <ul>
                            <li><a href="/#" data-toggle="modal" data-target="#login-modal">Login</a>
                            </li>
                            <li><a href="/register">Regiter</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        
                        <h4>Where To Find Us</h4>

                        <p><strong>MSBEAUTYID</strong>
                            <br>Jl. Kelapa Dua No. 17 (MSBEAUTYID's Office)
                            <br>Depok
                            <br>Jawa Barat
                            <br>
                            <br>
                            <strong>Indonesia</strong>
                        </p>

                         <h4>Contact Us</h4>

                        <p><strong>MSBEAUTYID</strong>
                            <br>Line : MSBEAUTYID
                            <br>Phone : 085888919797
                           
                        </p>

                        <a href="/contact.html">Go to contact page</a>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    
                            <!-- /input-group -->
                        </form>

                        <hr>

                        <h4>Stay in touch</h4>
                            <p class="social">
                            <a href="https:www.facebook.com/medianasaraswati class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="https:twitter.com/medianasrswt class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="https:www.instagram.com/medianasaraswati class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                           
                        </p>
                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2018 MSBEAUTYID</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">Template by <a href="/https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> & <a href="/https://fity.cz">Fity</a>
                         <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    <!-- *** LOAD JS *** -->
    <%- include('../partials/javascript') %>
    <!-- *** LOAD JS *** -->
    


</body>

</html>