<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <%- include('../templates/toplist') %>
    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <%- include('../partials/navbar') %>

    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->
    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href=/">Home</a>
                        </li>
                        <li>Mascara</li>
                    </ul>

                    <div class="box">
                        <h1>Mascara</h1>
                        <p>Mascara, a thick dark liquid make-up that is used to make eyelashes dark and make them appear thicker and longer.</p>
                    </div>

                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                                Showing <strong>4</strong> products
                            </div>

                        </div>
                    </div>

                    <div class="row products">

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href=/detail">
                                                <img src="/img/rollerlashm.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href=/detail">
                                                <img src="/img/rollerlashm.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=/detail" class="invisible">
                                    <img src="/img/rollerlashm.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href=/detail">Benefit Roller Lash Mascara - Black </a></h3>
                                    <p class="price">Rp335.000</p>
                                    <p class="buttons">
                                        <a href=/detail" class="btn btn-default">View detail</a>
                                        <a href=/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href=/detail">
                                                <img src="/img/benefitm.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href=/detail">
                                                <img src="/img/benefitm.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=/detail" class="invisible">
                                    <img src="/img/benefitm.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href=/detail">Benefit The Real Beyond Mascara - Black</a></h3>
                                    <p class="price">Rp295.000</p>
                                    <p class="buttons">
                                        <a href=/detail" class="btn btn-default">View detail</a>
                                        <a href=/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->

                                
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href=/detail">
                                                <img src="/img/lancomem.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href=/detail">
                                                <img src="/img/lancomem.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=/detail" class="invisible">
                                    <img src="/img/lancomem.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href=/detail">  Mascara - Black</a></h3>
                                    <p class="price">Rp435.000</p>
                                    <p class="buttons">
                                        <a href=/detail" class="btn btn-default">View detail</a>
                                        <a href=/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href=/detail">
                                                <img src="/img/toofacedm.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href=/detail">
                                                <img src="/img/toofacedm.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=/detail" class="invisible">
                                    <img src="/img/toofacedm.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href=/detail">Too Faced Better Than Sex Mascara - Black</a></h3>
                                    <p class="price">Rp335.000</p>
                                    <p class="buttons">
                                        <a href=/detail" class="btn btn-default">View detail</a>
                                        <a href=/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                     

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href=/detail">
                                                <img src="/img/maybelinem.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href=/detail">
                                                <img src="/img/maybelinem.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href=/detail" class="invisible">
                                    <img src="/img/maybelinem.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href=/detail">Maybelline Volum Express Hyper Curl Mascara - Black</a></h3>
                                    <p class="price"><del>Rp90.000</del> Rp80.000</p>
                                    <p class="buttons">
                                        <a href=/detail" class="btn btn-default">View detail</a>
                                        <a href=/basket" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>

                                </div>
                                <!-- /.text -->

                                 <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                            </div>
                            <!-- /.product -->
                        </div>

                        
                    <!-- /.products -->



                </div>
                <!-- /.col-md-9 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Pages</h4>

                        <ul>
                           
                            <li><a href=/contact">Contact us</a>
                            </li>
                        </ul>

                        <hr>

                        <h4>User section</h4>

                        <ul>
                            <li><a href=/#" data-toggle="modal" data-target="#login-modal">Login</a>
                            </li>
                            <li><a href=/register">Regiter</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        
                        <h4>Where To Find Us</h4>

                        <p><strong>MSBEAUTYID</strong>
                            <br>Jl. Kelapa Dua No. 17 (MSBEAUTYID's Office)
                            <br>Depok
                            <br>Jawa Barat
                            <br>
                            <br>
                            <strong>Indonesia</strong>
                        </p>

                         <h4>Contact Us</h4>

                        <p><strong>MSBEAUTYID</strong>
                            <br>Line : MSBEAUTYID
                            <br>Phone : 085888919797
                           
                        </p>

                        <a href=/contact">Go to contact page</a>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    
                            <!-- /input-group -->
                        </form>

                        <hr>

                        <h4>Stay in touch</h4>
                            <p class="social">
                            <a href=https:www.facebook.com/medianasaraswati class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href=https:twitter.com/medianasrswt class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href=https:www.instagram.com/medianasaraswati class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                           
                        </p>
                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2018 MSBEAUTYID</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">Template by <a href=/https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> & <a href=/https://fity.cz">Fity</a>
                         <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

  
    <!-- *** LOAD JS *** -->
    <%- include('../partials/javascript') %>
    <!-- *** LOAD JS *** -->




</body>

</html>